// Define variables for your color scheme

// For example:
$red: #e53e3e;
$light_red: #fc8181;
$blue: #466F88; //for all buttons + call to action text in cards ?
$light_blue:#E1EBF1; //for infobox
$yellow: #FFF3D9;
$special_box_backgournd_orange: #c48828; //for special box, ex: home page "pourquoi choisir ..."
$text_gray: #8a8a89; //for text font
$nav_gray: #3C3C3C; //for nav_bar font
$box_background_gray:#F9FAF9; //for example : "abonnez-vous" button
$purple-explora: #3f51b5;

// bootstrap
$green: green;
$orange: orange;


.color-red {
  color: #e91e63;

}

.color-orange{
  color: #ff9800;
}

.color-violet{
  color: #3f51b5;
}
.color-green{
  color: #009688;
}

.color-blue{
  color: #03a9f4;
}

.bg-blue{
  background-color: #e9f0f5;
}
