// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Font for body
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');




// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// New fonts for Explora world
$headers-font: "Recoleta";
$body-font: "Inter";


// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Recoleta";
  src: url('recoleta.otf') format("truetype");
}
