<div class="banner">
  <div>
    <h1> EXPLORA WORLD</h1>
    <p>Ready to discover the world from your sofa?</p>
    <%= link_to "All offers", offers_path %>
  </div>
</div>
<div class="homepage">
  <div class="container">
    <h1>What we offer</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est et sit ducimus iste provident vel animi eos magni tempore illum accusamus maxime soluta ab sed enim suscipit, aut esse itaque?
    Iste ullam odit labore consequatur ipsam maiores in similique iure suscipit veniam voluptatum vero, animi necessitatibus blanditiis, quas reiciendis inventore impedit, doloremque assumenda! Eaque hic quasi beatae quo soluta fugiat.
    Animi ullam tempore consequatur soluta enim? Earum ab, molestias maxime sequi ipsa esse deleniti maiores quasi officiis saepe quo, accusamus cum illum consequuntur consectetur autem corrupti modi! Consequatur, rerum repudiandae!
    Asperiores molestias voluptates, nulla id omnis temporibus labore ipsa officiis quia, sunt ducimus voluptatum consequatur veniam enim vitae quidem commodi. Atque praesentium consectetur ut nesciunt accusamus, earum sequi voluptatem eaque?
    Neque voluptatem cum necessitatibus minima eos sunt itaque, eveniet quae autem omnis quidem sit iusto fugit illum iure sint, vitae, quam dicta facere iste cupiditate laborum soluta sed inventore. Aperiam!</p>
  </div>
</div>
<div class="category">
  <div class="cards-hp m-2 mt-O">
    <div class="container">
      <div class="card-hp-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn-icons-png.flaticon.com/512/223/223351.png)">
        <h3 class="title"><h3>MUSEUMS</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus maiores ipsa laudantium totam magnam ducimus deserunt eos minima! Ea culpa neque impedit repellat a quidem dignissimos itaque, sapiente veniam.</p>
        <%# <p><%= link_to "See more", offer_path(offer)</p>  %>
      </div>
      <p>You can't afford to travel the world to see all the famous museums? Don't panic, and enjoy them all from your home!</p>
    </div>
    <div class="container">
      <div class="card-hp-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn-icons-png.flaticon.com/512/185/185342.png)">
        <h3 class="title"><h3>MONUMENTS</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus maiores ipsa laudantium totam magnam ducimus deserunt eos minima! Ea culpa neque impedit repellat a quidem dignissimos itaque, sapiente veniam.</p>
        <%# <p><%= link_to "See more", offer_path(offer)</p>  %>
      </div>
      <p>The Taj Mahal? The Eiffel Tower? The Golden Gate? Enjoy them all from home!</p>
    </div>
    <div class="container">
      <div class="card-hp-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://icon-library.com/images/icon-for-house/icon-for-house-6.jpg)">
        <h3 class="title"><h3>NEIGHBORHOODS</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus maiores ipsa laudantium totam magnam ducimus deserunt eos minima! Ea culpa neque impedit repellat a quidem dignissimos itaque, sapiente veniam.</p>
        <%# <p><%= link_to "See more", offer_path(offer)</p>  %>
      </div>
      <p>Ever wanted to discover the streets of Paris, or Mexico ? Discover all famous neighborhood in live visit!</p>
    </div>
  </div>
</div>
<div class="review">
  <div class="container">
  <h2>"BEST EXPERIENCE EVER"</h2>
  <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat sed ratione quae esse, vero aut, quo, ipsa quia maiores magni itaque expedita ea nostrum explicabo velit nobis eligendi architecto sint.</h3>
  </div>
  <div class="container">
    <div class="card-hp-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://icon-library.com/images/icon-for-house/icon-for-house-6.jpg)">
    </div>
  </div>
</div>
<div class="container">
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Let's explore the <i class="fas fa-globe-americas"></i> with Explora World !
    </div>
    <%# <div class="icon"> %>
    </div>
  </div>
</div>
