.banner {
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  height: 910px;
  align-items: center;
  justify-content: center;
  // background-image: linear-gradient(rgba(95, 64, 64, 0.1), rgba(70, 9, 211, 0.3)), asset-url('explore_lp.png');
  background-image: linear-gradient(rgba(95, 64, 64, 0.1), rgba(0, 0, 0, 0.7), rgba(95, 64, 64, 0.1)), asset-url('mappemonde.png');

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 9px;
    text-shadow: 3px 4px 9px #466F88;
  }

  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    &:hover {
      opacity: .7;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    }
    // background-image: asset-url('mappemonde.png');
  }
}

.homepage  {
  background-color: white;
  text-align: center;
  color: black;
  font-size:larger;
  padding-top: 90px;
  padding-bottom: 90px;
}

.category {
  display: flex;
  background-color: white;
  color: black;
  text-align: center;
  padding-bottom: 70px;
  border-bottom: 0.8px solid #466F88;

}

h2 {
  text-align: center;
  color: #466F88;
  margin-top: 20px;
}

.section-title {
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
  color: black;

  &::before {
    content: "";
    width: 48px;
    height: 4px;
    background-color: #466F88;
    position: absolute;
    right: 450px;
    top: 23px;
  }

  &::after {
    content: "";
    width: 48px;
    height: 4px;
    background-color: #466F88;
    position: absolute;
    left: 450px;
    top: 23px;
  }
}
