.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap: 16px 38px;


}

.card-category {
  border-radius: 6px;
}

.pic {
  border-radius: 20px;
  margin-bottom: 15px;
  width: 100%;
}

.text{
  color: black;
  h3{
    font-weight: bold;
  }
  p{
    color: $text_gray;
  }
}

.cards-hp{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-hp-category {
  height: 30vh;
  border-radius: 6px;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  font-size: large;

  p {
    font-size: medium;
    margin-top: 70px;
  }
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr  1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr  1fr 1fr;
  }
}
