.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap: 16px 38px;

 }



.cards .bold {
  font-weight: bold;
}

.cards a {
  text-decoration: none;
  transition:all ease 1s;
  border-radius: 10px;


  &:hover {
    transform: scale(1.05);
    box-shadow: 6px 4px 4px #DDDDDD;
  }

}

.card-category {
  border-radius: 6px;
}

.pic {
  border-radius: 20px;
  margin-bottom: 15px;
  width: 100%;
}

.text{
  color: black;
  h3{
    font-weight: bold;
  }
  p{
    color: $text_gray;
    font-size: 12px;
  }
}

.cards-hp{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.card-hp-category {
  height: 20vh;
  width: 300px;
  border-radius: 6px;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  font-size: large;
  transition:all ease 1s;
  margin-bottom: 20px;

  &:hover {
    transform: scale(1.05);
    box-shadow: 6px 4px 4px #DDDDDD;
  }

  p {
    font-size: medium;
    margin-top: 70px;
  }
}

.card-review {
  height: 35vh;
  width: 500px;
  background-size:cover;
  background-repeat: no-repeat;
  // background: none;
  transform: rotate(4deg);
  border-radius: 10px;
  margin-left: 150px;

}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr  1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}


.fit-picture {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  text-decoration: none;
}

.fit-picture img {
  border-radius: 10px;
}
