.chatroom {
  background: white;
  // margin-top: 9px;
  // height: calc(100vh - 75px);
  height: 555px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // flex-grow: 1;
  overflow: hidden;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    // padding: 1rem;
  }

  .messages {
    border-top: $light-blue solid;
    border-left: $light-blue solid;
    border-right: $light-blue solid;
    border-top: $light-blue solid;
    height: 420px;
    overflow: hidden
    // padding: 1rem;
  }

  // #messages {
  //   height:90vh;
  //   overflow: hidden;
  // }

  // #new_message {
  //   border-top: 1px solid $gray-200;
  //   // padding: 1rem;

  //   .form-group {
  //     margin-bottom: 0;
  //   }
  // }

  .btn-height {
    height: 61px;
  }

  .height-fix {
    height: 40px;
  }

  .message-height {
    height: 20px;
  }
}
