.chatroom {
  background: #F1F3F7;
  border-radius: 10px;
  // margin-top: 9px;
  // height: calc(100vh - 75px);
  height: 700px;
  width:300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
  // flex-grow: 1;
  overflow: hidden;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    // padding: 1rem;
  }

  .messages {
    height: 420px;
    overflow: hidden;

    // padding: 1rem;
  }

  .btn-height {
    height: 40px;
    background-color: #fad585;
    border: none;
  }

  .height-fix {
    height: 20px;
  }

  .message-height {
    border-style: none;
    height: 20px;
  }

  #message_content {
    border-style: none;
    height: 20px;
    margin-bottom: 0;
    resize: none;
  }

  .messages-header {
    background-color: white;
    border-radius: 10px;
  }

  .header-message {
    font-size: 14px;
    font-weight: normal;
  }

  .active-tab {
    background-color: #FFF3D9;
    border-radius: 10px;
  }
  #input-message {
    margin-bottom: 0 !important;
  }
}
