.checkbox_tips {
  position: absolute;
  transform: scale(0);
}

.checkbox_tips + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50rem;
  padding: 0.7rem 2rem;
  background-color: #ECEAFF;
  color: $purple-explora;
  border: 1px solid $purple-explora;
  // margin-right: 0.4rem;
  margin-bottom: 0.4rem;
}

.checkbox_tips:checked + label {
  background-color: $purple-explora;
  color: white;
}
