.footer {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.8);
  border-top: 0.8px solid #466F88;

  a {
    text-decoration: none;
    color: black;

      &:hover {
      color: #466F88;
      opacity: 0.7;
   }
  }

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #466F88;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer .fa-globe-americas {
  color: rgb(4, 4, 128);
  font-size: 20px;
}
