.partners {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 8px 8px;
  justify-content: center;
  align-items: center;
}

#places {
background-color: white;
width: 70px;
padding: 10px;
}
