#map{top: 0; right: 0; bottom: 0; left: 0; height:800px; width:1000px; margin: 20px;}
#coords{ bottom: 10px; right: 10px; z-index: 100000; position: absolute; }
#layercontrol{ top:10px; right: 10px;}


#popup {
  text-decoration: none;
  color:white !important;

}

.we-pp-wrapper {
  background: $purple-explora !important;
  opacity: 0.9;
  width:115px;
}

.we-pp-tip {
  background: $purple-explora !important;
  opacity: 0.9;

}
