.navbar-lewagon {
  justify-content: space-between;
  background: #F8F8F8;
  opacity:1;
  border: 0.5px;
  h2 {
    font-family: $headers-font;
    // text-shadow: $blue 1px 0 5px;
    margin: 0;
  }
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logoexplo {
  width: 48px;
  background: none;
}

.navbar-brand{

  animation:rotation 2.5s normal infinite linear;

}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
