.review {
  display: flex;
  color: black;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  background-color: white;
  margin-top: 60px;
  margin-bottom: 60px;

  h1 {
    font-size: 50px;
    font-weight: bold;
  }

  h3 {
    font-size: 20px;
  }
}

.icons-grades {
  font-size: 20px;
}

#frelondulove {
  width: 170px;
  padding: 10px;
}
