.review {
  display: flex;
  color: black;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  background-color: white;
  border-radius: 10px;

  h1 {
    font-size: 50px;
    font-weight: bold;
  }

  h3 {
    font-size: 20px;
  }
}

.icons-grades {
  font-size: 20px;
}

#newspapers {
  width: 100px;
  padding: 10px;
}

.talk {
  padding-bottom: 20px;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
}
