.video-call {
  width: 600px;
  height: 480px;
  margin: 0 auto;
  position: relative;
}

.hidden {
  display: none !important;
}

.call-video-views {
  position: relative;
  height: 100%;
  background-color: black;
}

.no-call {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

.waiting-for-buddy {
  color: white;
}

.call-buttons {
  margin: 1rem 1rem;
  display: flex;
  justify-content: space-around;

  .call-button {
    border: 1px solid black;
    color: black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 4px 4px;
    text-decoration: none;
    position: absolute;
    bottom:5px;
    text-align: center;
  }

  .call-button:hover {
    box-shadow: 0 0 12px rgba(0,0,0, 0.3);
  }
}

.btn-start-call {
  background-color: $green;
}

.btn-end-call {
  background-color: $red;
}

#local-video {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  video {
    background: black;
    width: 100px;
    height: 100px;
  }
}

#remote-video {
  display: flex;
  justify-content: center;
  // align-items: center;
  height: 480px;
}

.title-inside {
  position: absolute;
  top: 0;
  left:10px;
  color: white;
  z-index: 1000;
}

.live-record {
  position: absolute;
  top: 20px;
  color: white;
  right: 0;
  z-index: 1000;
}

.end-visit{
  position: absolute;
  bottom: 14px;
  color: white;
  left: 10px;
  z-index: 1000;
}

.btn-out {
  background-color: transparent;
  border: none;
}

.btn-send {
  height: 62px;
  background-color: $green;
}
